.main-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(11, 12, 15, 0.278);
    
}



.ul-text{
    text-decoration: none;
    color: black;
}