.titleDigital {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    align-self: center;
    align-items: center;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: bold;
    font-size: 35px;



}

.main-nav {
    list-style: none;
    padding: 4px 2px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(56, 46, 54, 0.278);
    align-items: center;


}

.ul-text {
    text-decoration: none;
    color: black;
    justify-items: center;
    align-self: center;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: bold;
    font-size: 18px;



}

.logo {
    border-radius: 100%;
    width: 25%;
    length: 30%;
    padding: 5px;
}